<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Create your profile</h1>
    <p class="text-center">Complete your profile and start connecting with the DevMatch community!</p>
    <div class="well">
      <%= render 'form' %>
    </div>
  </div>
</div>