<!DOCTYPE html>
<html>
  <head>
    
  </head>
  
  <body>
    <p>You have received a message from the Dev Match contact form.</p> 
    <p>Sender: <%= "#{ @name }" %></p>
    <p>Sender's email: <%= "#{ @email }" %></p>
    <p><%= @body %></p>
    
    </p>
  </body>
  
  
</html>