// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.jumbotron {
    // http://uigradients.com/#
    background: -webkit-linear-gradient(90deg, #005C97 10%, #363795 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #005C97 10%, #363795 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #005C97 10%, #363795 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #005C97 10%, #363795 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #005C97 10%, #363795 90%); /* W3C */
    color: #FFF;
    h3 {
      font-weight: normal;
    }
}

.alert-alert {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-notice {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}